<h2>Question #<%= @question.id %>:</h2>
<h4><%= @question.body %></h4>

<p>
  <ol>
    <%= render @question.answers %>
  </ol>
</p>

<p>
  <%= link_to 'Create new answer', new_admin_question_answer_path(@question), class: 'btn btn-link'%>
</p>

<p>
  <%= link_to 'Back', admin_test_path(@question.test_id), class: 'btn btn-primary' %>
</p>
