<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.link_new_test'), new_admin_test_path, class: 'btn btn-link' %>
</p>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.amount_question') %></th>
    <th colspan="3"><%= t('.action') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests%>
  </tbody>
</table>
